header {
  padding: 7rem 0; /* Creating distance from up and down*/
  background-image: url("../images/header-bg.jpg"); /* Use background for header */
  background-repeat: no-repeat; /* For no repeat background */
  background-position: center ; /* Specify the start of the background position */
  background-size: cover; /* Set up background size */
  background-attachment: fixed; /* Set up For fixed background*/
  width: 100%;
  height: 100vh;

}
@media only screen and (min-width: 995px) {
  header {
    height: 120vh;
  }
}
/* For container navbar */
.header-container-menu {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  align-content: center;
  grid-gap: 10px;
}
/* For reverse to nav with section .header-logo  */
.header-container-navbar {
  grid-area: 1 / 1 / 2 / 2 !important;
}

.header-container-navbar nav .container-menu ul li a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.navbar-brand {
  color: rgba(255, 255, 255, 0.8) !important;
}

.header-logo h2 {
  color: #ffffff;
}

.header-bottom {
  margin-top: 10rem;
}

.header-bottom h1 {
  color: #fff;
  font-size: 27px;
}

@media only screen and (max-width: 458px) {
  .header-bottom h1 {
    font-size: 20px;
  }
}
.header-bottom p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 2rem;
}
.header-bottom button {
  margin-top: 4rem;
}

/* main */

.main {
  background-color: #ffffff;
}

.main-heading-Description {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}

.main-header {
  padding: 7rem 0 !important;
  text-align: center;
}

.main-header-heading {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding: 1.5rem 0;
}

@media only screen and (max-width: 995px) {
  .main-heading-Description {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
  }
  .main-header-heading h1{
    font-size: 20px;
    text-align: center;
  }
  .main-header-heading p{
    font-size: 15px;
    text-align: center;
  }

}
